
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-offset">
    <h3>Click en el boton para ver la factura.</h3>
    <a href="@Url.Action("DisplayPDF", "DetalleVenta")/@ViewBag.Id"
       class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised">
        Ver PDF
    </a>
</div>