
<h1>LLegue! :D</h1>
<a href="@Url.Action("DisplayPDF", "DetalleVenta")"
   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised">
    Ver PDF
</a>
<li>@Html.ActionLink("PDF View", "DisplayPDF")</li>